@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-slate-900;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
